plugins {
  :repo("rebelot/kanagawa.nvim") {}

  :repo("stevearc/oil.nvim") {
    depends: "nvim-tree/nvim-web-devicons";

    :setup("oil") {
      columns: ["icon"];

      view_options {
        show_hidden: true;
      }
    }
  }
}
